@tailwind base;
@tailwind components;
@tailwind utilities;

.grid {
  display: grid;
}


.heroText{
  width: 34rem;
  /* height: 16rem; */
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 6px;
  padding: 4rem;
  line-height: 2rem;
}

.heroText h6{
  font-weight: bold;
}

.heroText h3{
  font-size: 2.5rem;
  font-weight: bolder;
  color: #B88E2F;
}



.heroText .buyBtn{
  background-color: #B88E2F;
  padding: 0.5rem 3rem 0.5rem 3rem;
  color: white;
}

